body {
	
		background-color:#253238;
		position:fixed;
		height:100%;
		width:100%;
		margin: auto;
		
		
	
	
	
	
}

header{
	
	background-color:#253238;
	height:50px;
	width:1343px;
	margin:auto;
	
}

nav{
	
	background-color:#253238;
	float:left;
	height:600px;
	width:450px;
	margin:auto;
	
}

section{
	
	background-color:#ffffff;
	float:left;
	height:470px;
	width:443px;
	margin:auto;
	border-radius:10px;
	border:10px solid #808080;
	
	
}

aside{
	
	background-color:#253238;
	float:right;
	height:600px;
	width:450px;
	margin:auto;
	
}
footer{
	
	background-color:#ffffff;
	float:left;
	height:50px;
	width:1343px;
	margin:auto;
	
}

input{
	
	
	height:50px;
	width:410px;
	margin-left: 13px;
	font-size:20px;
	border-color:#808080;
	
	
	
}

#lnome:focus{
	
	background-color:#808080;
	
	
	
	
}

#lsenha:focus{
	
	background-color:#808080;
	
	
}

#lnome{
	
	
	background-color:#dcdcdc;
	
	
}

#lsenha{
	
	
	background-color:#dcdcdc;
	
	
}

#login{
	
	position:absolute;
	top:360px;
	height:40px;
	width:110px;
	margin-left: 13px;
	background-color:#dcdcdc;
	color:#595c5e;
	cursor:pointer;
	
	
	
}

#limpar{
	
	position:absolute;
	top:360px;
	left:580px;
	height:40px;
	width:110px;
	margin-left: 13px;
	background-color:#dcdcdc;
	color:#595c5e;
	cursor:pointer;
	
}



#label_nome{
	
	
	position:absolute;
	top:170px;
	left:472px;
	font-family:Arial black;
	color:#595c5e;
	font-size:24px;
	
	
}

#label_nome2{
	
	
	position:absolute;
	top:340px;
	left:472px;
	font-family:Arial black;
	color:#595c5e;
	
	
}

#label_senha{
	
	
	position:absolute;
	top:260px;
	left:472px;
	font-family:Arial black;
	color:#595c5e;
	font-size:24px;
	
	
	
}

#label_senha2{
	
	
	position:absolute;
	top:400px;
	left:472px;
	font-family:Arial black;
	color:#595c5e;

}

#lnome{
	
	
	position:absolute;
	top:200px;
	font-size:30px;
	border-bottom: 6px solid #bee7f8;
	border-left: 6px solid #166281;
	border-top: 4px solid #166281;
	border-right: 6px solid #bee7f8;
	cursor:pointer;
	
	
	
	
	
	
	
	
}

#lsenha{
	
	
	position:absolute;
	top:290px;
	font-size:30px;
	border-bottom: 6px solid #bee7f8;
	border-left: 6px solid #166281;
	border-top: 4px solid #166281;
	border-right: 6px solid #bee7f8;
	cursor:pointer;
	
	
}

#hr1 {
	
	height:120px;
	border-color:transparent;
	margin:auto;
	background-color:;
	background-image: url(empresa.png);
	background-repeat: no-repeat;
	background-position:170px;
	top:500px;
	

	
	
}

i {
	
	
	position:absolute;
	left:470px;
	top:470px;
	
	
}
#hr2 {
	
	
	
	
	height:100px;
	width:100px;
	border-color:transparent;
	margin:auto;
	background-color:transparent;
	background-repeat: no-repeat;
	position:absolute;
	left:470px;
	top:550px;
	
	
	
	
	
}

#hr3{
	
	
	
	
	height:100px;
	width:100px;
	border-color:white;
	margin:auto;
	background-color:;
	background-repeat: no-repeat;
	position:absolute;
	left:625px;
	top:70px;
	background-image:url(pesquisar_emprestimo3.png);
	
	
	
	
	
}

hr{
	
	display: block;
    margin-top: 195px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border-style: solid;
    border-width: 1px;
	border-color:transparent;
	
	
	
}

p{
	position:absolute;
	top:460px;
	left:520px;
	font-family:Arial;
	font-size:20px;
	color:#595c5e;
	
	
	
}

#boasvindas{
	position:absolute;
	top:150px;
	left:460px;
	font-family:Arial black;
	font-size:70px;
	color:#595c5e;
	
	
	
}

a{
	
	position:absolute;
	top:415px;
	left:472px;
	font-family:Arial black;
	font-size:20px;
	
	
}

#recaptcha {
	
	height:100px;
	width:100px;
	position:absolute;
	left:470px;
	top:420px;
	background-color:transparent;
	
	
}

